@charset "utf-8";

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

body .icon-1{
  position: fixed;
  left: 15px;
  bottom: 20px;
  z-index: 9999;
}
body .icon-2{
  position: fixed;
  right: 15px;
  bottom: 20px;
  z-index: 9999;
  background-color: #ddd;
}
header .loge-main{
  background-color: #ddd;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 9999;
}

header{
  background-color: #eee;
  width: 100%;
  height: 100vh;
}
header .loge-main{
  background-color: #ddd;
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: fixed;
  z-index: 9999;
  justify-content: right;
  align-items: center;
  text-transform: uppercase;
}
header .loge-main a:hover{
  color: #69a9c5;
}
header .loge-main .DYAMI:first-child{
  margin-right: 750px;
  background: url(./img/DYAMI.png) no-repeat 50% / cover;
  text-indent: -9999px;
  width: 100px;

}
header .loge-main li{
  padding: 0 20px;
}
header .headset-text{
  padding: 250px 50px 0 250px;
}
header .headset-text h2{
  width: 609.328px; height: 280.781px;
  font-size: 72px;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
header .headset-text .better{
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 0;
  letter-spacing: 6px;
}
header .flex{
  display: flex;
}
header .headset{
  background: url(./img/헤드셋-1.png) no-repeat 50% /cover;
  position: static;
  width: 100%;
  height: 862px;
  margin: 50px;
}
header .headset-text .clice{
  background: url(./img/paly2.png) no-repeat 50% /cover;
  width: 48px; height: 48px;
  text-indent: -9999px;
  margin-top: 50px;
}

.text-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 100px;
  padding: 50px;
  line-height: 1.8;
}
.text-box div{
  padding: 48px;
  border: 1px solid #555;
  border-top: none;
}
.text-box div:nth-child(1){
  border-left: none;
}
.text-box div:nth-child(2){
  border-left: none;
  border-right: none;
}
.text-box div:nth-child(3){
  border-left: none;
  border-bottom: none;
}
.text-box div:nth-child(4){
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.text-box h3{
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 18px;
}
.text-box p{
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}

.image-box .box-1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #69a9c5;
}
.box-1 .image-1{
  overflow: hidden;
}
.image-box .box-1 .image-1{
  grid-column: 1 / 3;
  grid-row: 1/3;
}
.image-box .box-1 .image-4{
  grid-row: 2/4;
  grid-column: 3/5;
}
.image-box .box-1 .image-5{
  grid-column: 3/5;
  grid-row: 3/4;
}
.image-box .box-1 img{
  width: 100%;
}
.image-box .box-1 li{
  overflow: hidden;
}

.image-box .box-1 li p{
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}
.image-box .box-1 li:hover p{
  color: #69a9c5;
  transform: translateY(-100%);
}

.iamge-text div{
  text-align: center;
  margin-top: 144px;
  margin-bottom: 100px;
}
.iamge-text div h2{
  font-size: 56px;
  font-weight: bold;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
  margin-bottom: 50px;
  position: relative;
}
.iamge-text h2::after{
  content: "";
  width: 3px; height: 70px;
  background-color: #000000;
  position: absolute;
  top: 60px; left: 50%;
  transform: rotate(90deg);
}
.iamge-text div p{
  font-size: 20px;
}

.image-text-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image-text-box img{
  margin: 0 10px;
}
.image-text-box .txt{
 display: block;
 text-align: center;
 padding: 24px;
 margin-bottom: 7;
}
.image-text-box .txt h5{
  font-size: 24px;
  font-weight: 600;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}
.image-text-box .txt p{
  font-size: 18px;
  font-weight: 400;
}

.video-box{
  margin-top: 144px;
  background-color: rgb(248, 249, 250);
  height: 135vh;
}
.video-box div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 50px;
  margin: 30px;
  height: 100vh;
}
.video-box div h2{
  font-size: 56px;
  font-weight: 700;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
}
.video-box p{
  font-size: 24px;
  font-weight: 300;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  width: 783.5px; height: 216px;
  text-align: left;
}



.next-box div h2{
 font-size: 52px;
 font-weight: bold;
 font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
 text-transform: capitalize;
 text-align: center;
 margin-top: 144px;
 position: relative;
}
.next-box h2::after{
  content: "";
  width: 3px; height: 50px;
  background-color: #000000;
  position: absolute;
  top: 70px; left: 50%;
  transform: rotate(90deg);

}
.next-box div img{
  margin-top: 120px;
  margin-left: 650px;
  position: relative;
}
.next-box .text-box-2{
  text-align: center;
  margin-top: 20px;
}
.next-box .text-box-2 h5{
  font-size: 24px;
  margin-right: 500px;
  text-transform: capitalize;
  font-weight: 600;
}
.next-box .text-box-2 p{
  font-size: 18px;
  width: 400px;
  margin-top: 20px;
  margin-left: 650px;
  line-height: 1.5;
  text-align: left;
}
.logo-box{
  margin-top: 144px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  background-color: #eee;
  height: 60vh;
  
}
.logo-box img{
  width: 70%;
  margin-left: 50px;
}

.map-box{
  text-align: center;
  margin-top: 144px;
}
.map-box h2{
  font-size: 56px;
  font-weight: bold;
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
}

.map-box ul{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.map-box li{
  font-size: 28px;
  border-bottom: 3px solid #000;
  padding: 20px 250px;
  text-transform: uppercase;
  font-weight: bold;
}
.map-box li:last-child{
  border-bottom: 1px solid #ddd;
}
.map-box .address{
  text-align: left;
  margin-left: 100px;
  font-size: 28px;
}
.map-box .address div{
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  margin: 0 100px;
}
.map-box .address div:last-child{
  border-bottom: 2px solid #000;
}
.map-box .address h4{
  font-weight: bold;
}
.map-box .address div p{
  margin-left: 20px;
}

.btn-box{
  margin-top: 144px;
  text-align: center;
  background:url(./img/img-bg.jpg) no-repeat 50% / cover;
  width: 100%; height: 60vh;
}
.btn-box div{
  padding: 100px 0 0 0;
  color: #fff;
  background-color: #69a9c5a8;
  height: 60vh;
}
.btn-box div h3{
  font-size: 56px;
  text-transform: capitalize;
}
.btn-box div p{
  font-size: 28px;
  width: 50%;
  margin: 20px auto;
}
.btn-box .btn{
  background: none;
}
.btn-box a{
  /* margin-top: 20px;  */
  color: #fff;
  border: 1px solid #fff;
  padding: 20px 50px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
.btn-box a:hover{
  color: #000;
  background-color: #fff;
}

.last-box{
  margin-top: 144px;
  display: flex;
  justify-content: space-evenly;
}
.last-box h4{
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
}
.last-box p{
  margin-top: 20px;
  font-size: 18px;
}
.last-box img{
  margin-bottom: 100px;
}
.last-box ul{
  display: flex;
}
.last-box ul li{
  margin: 10px 10px;
}
.last-box div ul .face{
  background: url(./img/페이스북.png) no-repeat 50% / cover;
  width: 14px; height: 14px;
  text-indent: -9999px;
}
.last-box div ul .instar{
  background: url(./img/instagram.png) no-repeat 50% / cover;
  width: 14px; height: 14px;
  text-indent: -9999px;
}
.last-box div ul .you{
  background: url(./img/youtube.png) no-repeat 50% / cover;
  width: 14px; height: 14px;
  text-indent: -9999px;
}
.last-box div ul .apple{
  background: url(./img/apple.png) no-repeat 50% / cover;
  width: 14px; height: 14px;
  text-indent: -9999px;
}
.last-box div ul .vvvv{
  background: url(./img/vimeo.png) no-repeat 50% / cover;
  width: 14px; height: 14px;
  text-indent: -9999px;
}

footer{
  background-color: #ddd;
  height: 200px;
  text-align: left;
}
footer p{
  padding-top: 50px;
  margin: 20px 55px;

}
footer ul{
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
  margin-left: 50px;
}
footer ul li{
  margin: 0 10px;
}
footer ul li::after{
  content: "/";
  position: absolute;
  top: 0; left: 6%;
  /* transform: rotate(45deg); */
}