@charset "utf-8";

body{
    background-color: bisque;
}
article{
    border: 2px solid #000;
    width: 100px; height: 3vh;
    border-radius: 20px;
    text-align: center;
    line-height: 3vh;
}
.header{
    width: 700px; height: 200px;
    margin: 100px auto;
    text-transform: capitalize;
}
.header h2{
    text-transform: capitalize;
    font-size: 5rem;
    margin: 0;
    color: #8b8b8b;
}
main{
    display: flex;
}
.body1{
    background-color: #8b8b8b;
    padding: 50px;
}
img{
    width: 60%;
    object-fit: cover;
}
.txt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.txt1{
    width: 400px;
    padding: 50px;
}
.txt2{
    width: 400px;
    padding: 50px;
}
.body2{
    background-color: #8b8b8b;
    padding: 50px;
}
.foot{
    width: 700px; height: 500px;
    margin: 100px auto;
    text-transform: capitalize;
}
.foot h2{
    font-size: 5rem;
}

