@charset "utf-8";

/* 'Lobster Two', cursive; 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap');

/***** scroll *****/
html{
  height: 100%;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  width: 8px;
}
body::-webkit-scrollbar-track{
  background-color: lightpink;
}
body::-webkit-scrollbar-thumb{
  background-color: #FFBC42;
  border: 1px solid #222;
  border-radius: 5px;
}
/***** common *****/
main {
  height: 3000px;
  padding-top: 100px;
  font-weight: bold;
  font-size: 100px;
}
a {
  text-decoration: none;
}
menu {
  list-style: none;
}
li {
  display: inline-block;
}

/***** header *****/
header {
  background-color: #8F2D56;
  font-family: 'Noto Sans KR', '맑은 고딕', 돋움, sans-serif;
  font-weight: 400;
  text-align: center;

  /* max-width:1200px; min-width:900px;  */
  height:110px;
  position: fixed;
  top:0;
  left:0; right:0;
  margin:auto;
}
/* 로고 */
header h1 {
  background-color:#0496FF;
  font-weight: 700;
  font-size: 30px;
  width:120px; height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
  
  

  position: absolute;
  left:200px; bottom: 0;
}
header h1 a {
  color:blueviolet;
}

/* 유틸 */
header .utill {
  background-color: #D81159;
  position: absolute;
  right: 200px; top:0;
  padding:2px 4px;
  margin-top: 0;
}
header .utill li {
  color:#fff;
  font-size:11px;
  vertical-align: middle;
  padding: 0 8px;
}
header .utill a {
  color:#fff;
  font-size:16px;
}
header .utill a:hover {
  color:black;
}
/* 메뉴 */
header .gnb {
  font-family: 'Lobster Two','Times New Roman', Times, serif;
  background-color: lightsalmon;
  padding:0; margin:0;

  position: absolute;
  right:200px;  bottom:14px;
}
header .gnb li a {
  text-transform: capitalize;
  color:#fff;
  font-size: 26px;
  display: block;
  padding: 5px 30px;
}
header .gnb li a:hover {
  background-color: #0496FF;
}
main{
  text-align: center;
}