@charset "utf-8";

html{
  /* background-color: #000; */
}
header{
  min-width: 1400px; max-width: 1920px;
  margin: 0 auto;
  background: url(./img/01_PC_main_IMG_02.jpg) no-repeat 65% /cover;
  height: 100vh;
  position: relative;
}
header .main-text{
  position: absolute;
  top: 380px; left: 150px;
  color: #fff;
}
header .flex{
  position: sticky;
  top: 0;
}
header .main-text h1{
  font-size: var(--font-size-129);
  font-family: var(--main-font-);
  font-weight: 700;
  line-height: 1.1;
}
header .main-text p{
  font-size: var(--font-size-18);
  margin: 30px 0 120px 0;
}
header .main-text a{
  font-size: var(--font-size-20);
  font-weight: 700;
}
header .main svg{
  margin-top: 10px;
  margin-left: 30px;
}
header .flex div{
  display: flex;
  background-color: #000;
  height: 80px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}
header .main .menu{
  display: flex;
  font-size: var(--font-size-20);
}
header .main .menu li{
  margin: 0 70px;
  color: #fff;
  font-family: var( --main-font-);
  font-weight: 500;
}
header .main .menu li a:hover{
  color: #007aff;
}
header .service .service-menu{
  display: flex;
  margin-right: 20px;
}
header .service .service-menu li{
  margin: 0 20px;
}
/*** container ***/

.container .Camera{
  margin-left: 312px;
  display: block; 
  float: left;
}
.container .Camera-list img{
  width: 534px;
  background-color: #fff;
  margin-left: 50px;

}
.container .Camera-list .ILCE-7M4{
  display: block;
  float: left;
  margin: 0 50px;
}
.container .Camera-list h4{
  font-family: var(--main-font-);
  font-size: var(--font-size-32);
  font-weight: 700;
  margin-top: 16px;
  margin-left: 50px;
}
.container .Camera-list p{
  font-size: var(--font-size-18);
  margin-top: 4px;
  margin-left: 50px;
}
.container .Camera-list h2{
  font-family: var(--main-font-);
  font-size: var(--font-size-48);
  font-weight: 700;
  color: rgb(116, 116, 116);
  margin-right: 900px;
  text-align: right;
  padding: 80px 0;
}
.container .Camera-list{
  background-color: #f4f4f4;
  height: 1080px;
}

/**** event ****/

.event .event-text{
  font-size: var(--font-size-48);
  font-family: var(--main-font-);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 116px;
}
.event .headset {
  margin: 20px 350px;
  position: relative;
}
.event .headset .headset-text{
  position: absolute;
  top: 220px; left: 360px;
}
.event .headset .headset-text h4{
  font-size: var(--font-size-40);
  font-family: var(--main-font-);
  font-weight: 700;
  color: #222;
}
.event .headset .headset-text p{
  font-size: var(--font-size-18);
  font-family: var(--main-font-);
  color: #222;
}
.event{
  position: relative;
}
.event .event-Goods{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 320px;
  padding: 0 20px;
}
.event .event-Goods div{
  margin: 11.5px;
}
.event .event-Goods .buds img{
  position: relative;
}

.event .event-Goods .buds .buds-text{
  padding: 0 30px;
  position: absolute;
  bottom: 100px; left: 50px;
}
.event .event-Goods .store img{
  position: relative;
}

.event .event-Goods .store .store-text{
  padding: 0 30px;
  position: absolute;
  bottom: 100px; left: 600px;
}
.event .event-Goods .souny-camera img{
  position: relative;
}

.event .event-Goods .souny-camera .souny-camera-text{
  padding: 0 30px;
  position: absolute;
  bottom: 100px; left: 1300px;
}